.container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h2, .text {
    margin-bottom: 35px;
    text-align: center;
    font-size: 42px;
}

.text {
    font-size: 30px;
}

.Tags {
    width: 300px;
    height: 750px;
    text-align: center;
}

.Tags_dropzone {
    border: 2px solid green;
    padding-top: 35px;
}

.Tag_dragged {
    margin: auto;
    margin-bottom: 35px;
    width: 150px;
    height: 150px;
    font-size: 26px;
    line-height: 150px;
    font-weight: 600;
    text-align: center;
    background-color: transparent;
    background-image: url('img/sticker.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #000;
    cursor: move;
}

.Letters {
    width: 250px;
}

.Letter_dragged {
    margin-bottom: 30px;
    width: auto;
    height: 150px;
    background-color: #fff;
    background-image: url("img/letter.png");
    background-position: center;
    background-repeat: no-repeat;
}

.Letter_dragovered {
    border: 3px dashed green;
}

.Letter_dropped {
    border: 3px solid green;
}

.selected {
  opacity: 0.6;
}